* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#grid-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: white;

}

.cell {
    border: 0.1px solid whitesmoke;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

